rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.email == "rashid221097@gmail.com";
    }

    function isCurrentUser(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isAdmin()
        || (
          isCurrentUser(userId)
          && request.resource.data.roleView == "user"
          && request.resource.data.active == true
        );
      allow update: if isAdmin()
        || (
          isCurrentUser(userId)
          && request.resource.data.roleView == resource.data.roleView
          && request.resource.data.active == resource.data.active
        );
      allow delete: if isAdmin() || isCurrentUser(userId);
    }

    match /movies/{movieId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();

      match /ratings/{userId} {
        allow read: if isSignedIn();
        allow create, update: if isAdmin() || isCurrentUser(userId);
        allow delete: if isAdmin() || isCurrentUser(userId);
      }
    }

    match /settings/{documentId} {
      allow read, write: if isAdmin();
    }
  }
}
